<!-- <div class="fixed w-full h-full pl-10 py-12 bg-slate-400 z-10">
  <button class="burger-btn absolute right-5 top-5" type="button">
    <span class="material-symbols-outlined"> close </span>
  </button>

  <div class="flex flex-col h-full">
    <nav class="">
      <ul class="">
        <li>
          <a class="" href="#">Студія</a>
        </li>
        <li>
          <a class="" href="#">Портфоліо</a>
        </li>
        <li>
          <a class="" href="#">Контакти</a>
        </li>
      </ul>
    </nav>

    <ul class="mt-auto">
      <li>
        <a class="" href="mailto:info@devstudio.com">info@devstudio.com</a>
      </li>
      <li>
        <a class="" href="tel:+380961111111">+38 096 111 11 11</a>
      </li>
    </ul>
  </div>
</div> -->
